.home-to-menu{
    background-image: url("images/homeBackground.jpg");
    background-position: center;
    background-size: cover;
    padding:10px 30px;
}

.home-to-menu h4{
    color: #E8B200;
    font-size: 1rem;
    font-weight: normal;
}

.menu-container{
  background-image:url("images/card-background.jpg");
  height: 90vh;
  background-size:cover;
  background-position: center;
  padding: 60px 40px;
  text-align: center;
}

.menu-container h2{
    font-size: 5rem;
    font-weight: 1000;
    color: #99154E;
    margin: 40px 0 60px;
    font-family: 'Hahmlet', serif;    
}
.modal-button{
    color:#ffffff;
    font-weight: bold;
    background-color: #0F044C;
    border: 2px solid #E8B200;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.5s;
    margin-right: 5px;
}

.modal-button:hover{
    color:#99154E;
    font-weight: 1000;
    background-color: antiquewhite;
    border: 2px solid #E8B200;
    border-radius: 10px ;
    transform: translateY(-0.25em);
    box-shadow: 10px 5px 5px #99154E;
}

.menu-page-logo{
    position: fixed;
    bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
}